div{
    border: 1px solid black;
}

.box1{
    border: 1px solid red;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.size1{
    width: 100px;
    height: 20px;
}
.size2{
    width: 20em;
    height: 20px;
}
.size3{
    width: 100px;
    height: 50px;
    border: 1px solid black;
}
.block{
    display: block;
}
.inline{
    display: inline;
}
.inline-block{
    display:inline-block;
}

/* 메뉴 만들때 목록태그를 많이 사용 합니다 */
ul{
    /* 목록의 기본스타일 초기화 */
    list-style: none;
    padding: 0px;
}
li{
    border:1px dotted red;
    display: inline-block;
    width: 25%;
    height: 50px;
    /* 박스의 크기를 지정할 때 border영역까지를 박스의 크기로 지정 */
    box-sizing: border-box;
}

.border{
    width: 50px;
    height: 50px;
    margin: 10px 20px 30px 40px;
    border: 10px solid red;

    border-style: dashed;
    border-width: 10px;
    border-color: black;
}

#border-text1{
    border-style: dotted;
}
#border-text2{
    border-style: dashed;
}
#border-text3{
   border-style: double; 
}
#border-text4{
 border-style: groove;   
}
#border-text5{
    border-style: inset;
    box-shadow: 10px 10px 10px #000;
    border-width: 10px 20px 30px 40px;
}

.round{
    border-width: 2px;
    border-style: solid;
    /* 원 모양으로 출력 */
    border-radius: 50%;
}

.round1{
    width: 50px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.round2{
    width: 50px;
    height: 50px;
    border-top-color: black;
    border-width: 10px 0px 0px 0px;
}
